/* Column layout cars */
$location-header-height: 70px;
$location-width: 200px;
$location-timeslot-height: 150px;
$time-legend-width: 60px;

/* Row layout variables */
$location-header-width: 150px;
$location-height: 125px;
$location-timeslot-width: 125px;
$time-legend-height: 30px;
