/**
 * @classname
 * blokks-user-options
 * 
 * @description
 * The user options lets users sign in to add their favorites, print their 
 * schedule or add the schedule to their calendars.
 * 
 */

.blokks-user-options {
	display: flex;
	flex-direction: row;

	&__option {
		@include reset-button;
		@include font($default-font, $size: 15px);
		color: $default-text-color;
		text-decoration: none;
		margin-right: 15px;

		&:hover {
			color: $dark-text-color;
		}
	}
}
