$highlight-color: #1a73e8;

/** Background colors */
$default-background-color: #fff;
$light-background-color: #eee;
$dark-background-color: #333;

/** Text colors */
$light-text-color: #eee;
$default-text-color: #666;
$dark-text-color: #333;
$dimmed-text-color: #ccc;

/** Stroke colors */
$default-stroke-color: #eee;
