/**
 * @classname
 * blokks-time-captions
 * 
 * @descriptions
 * Time captions are placed - depending on your layout - on the left side or 
 * top of your schedule. It shows the start and end time of its parent timetable.
 * 
 */

/** Default styles */
.blokks-time-gutter {
	&:before {
		display: block;
		background-color: $default-background-color;
		content: '';
	}

	&__timeslots {
		@include reset-list;
	}

	&__timeslot {
		@include font($secondary-font, $size: 12px);
		color: $dimmed-text-color;
		padding: 5px;
	}
}

/** Row layout styles */
@if ($layout == 'columns') {
	.blokks-time-gutter {
		display: flex;
		flex-direction: column;
		width: $time-gutter-width;

		&:before {
			border-bottom: 1px solid $default-stroke-color;
		}

		&__timeslots {
			@include media('>breakpoint') {
				margin-top: -1px;
				background: bg-rows(
					$stroke-color: $light-stroke-color,
					$row-height: $location-timeslot-height
				);
			}
		}

		&__timeslot {
			height: $location-timeslot-height;
		}
	}
}

/** Column layout styles */
@else if ($layout == 'rows') {
	.blokks-time-gutter {
		display: flex;
		flex-direction: row;
		height: $time-gutter-height;

		&:before {
			border-right: 1px solid $default-stroke-color;
		}

		&__timeslots {
			@include media('>breakpoint') {
				margin-left: -1px;
				background: bg-columns(
					$stroke-color: $light-stroke-color,
					$column-width: $location-timeslot-width
				);
			}
		}

		&__timeslot {
			width: $location-timeslot-width;
		}
	}
}
