@include layout('columns') {
	.blokks-location {
		margin-top: -1px;
		min-width: $location-width;

		&__header {
			padding-left: 20px;
			border-bottom: 1px solid $default-stroke-color;
		}

		&__timeslots {
			margin-top: -1px;
			padding: 0 5px;
			background: bg-rows(
				$stroke-color: $default-stroke-color,
				$row-height: $location-timeslot-height
			);
		}

		&__timeslot {
			height: $location-timeslot-height;
		}
	}
}
