/**
 * @classname
 * blokks-location
 * 
 * @description
 * A location represents a single stage of your event. Basically, it’s a list of 
 * activities sorted by time.
 * 
 */

.blokks-location {
	/** Modifier indicating that the location is delayed.*/
	&--delayed {
	}

	/**
     * Modifier indicating that the location is crowded at the moment.
     * NOTE: This is still an experimental feature
     */
	&--crowded {
	}

	/**
     * Modifier indicating that the location is very busy at the moment.
     * NOTE: This is still an experimental feature
     */
	&--busy {
	}

	/** Data attribute indicating the location its slug */
	&[data-slug='paradiso'] {
	}

	/** Data attribute indicating the list of categories assigned to the location */
	&[data-categories*='hiphop'] {
	}

	/** Data attribute indicating the location its delay in seconds */
	&[data-delay='0'] {
	}

	&__header {
		padding: 10px 25px 10px 0;
		flex-grow: 1;
		background-color: $default-background-color;

		@supports (backdrop-filter: blur(4px)) {
			backdrop-filter: blur(4px);
		}

		@include device('mobile') {
			border-bottom: 1px solid $default-stroke-color;
		}
	}

	&__titles {
	}

	&__title {
		@include reset-title;
		@include font($default-font, $size: 15px);
		color: $dark-text-color;
		line-height: 1.3;
	}

	&__subtitle {
		@include reset-title;
		@include font($default-font, $size: 15px);
		color: $default-text-color;
		line-height: 1.3;
	}

	&__timeslots {
		@include reset-list;
	}

	&__timeslot {
	}

	/** Modifier indicating the timeslot has one or more activities */
	&__timeslot--has-activity {
	}
}

@import 'location.columns.scss';
@import 'location.rows.scss';
@import 'location.list.scss';
@import 'location.mobile.scss';
