/**
 * @classname
 * blokks-location
 * 
 * @description
 * A location represents a single stage of your event. Basically, it’s a list of 
 * activities sorted by time.
 * 
 */

/** Default styles */
.blokks-location {
	/** Modifier indicating that the location is delayed.*/
	&--delayed {
	}

	/**
     * Modifier indicating that the location is crowded at the moment.
     * NOTE: This is still an experimental feature
     */
	&--crowded {
	}

	/**
     * Modifier indicating that the location is very busy at the moment.
     * NOTE: This is still an experimental feature
     */
	&--busy {
	}

	/** Data attribute indicating the location its slug */
	&[data-slug='paradiso'] {
	}

	/** Data attribute indicating the list of categories assigned to the location */
	&[data-categories*='hiphop'] {
	}

	/** Data attribute indicating the location its delay in seconds */
	&[data-delay='0'] {
	}

	&__header {
		padding: 10px 25px 10px 0;
		flex-grow: 1;
		background-color: $default-background-color;

		@include mobile {
			border-bottom: 1px solid $default-stroke-color;
		}

		@supports (backdrop-filter: blur(4px)) {
			backdrop-filter: blur(4px);
		}
	}

	&__titles {
	}

	&__title {
		@include reset-title;
		@include font($default-font, $size: 17px);
		color: $dark-text-color;
		white-space: nowrap;
	}

	&__subtitle {
		@include reset-title;
		@include font($default-font, $size: 14px);
		color: $default-text-color;
	}

	&__timeslots {
		@include reset-list;
	}

	&__timeslot {
	}

	/** Modifier indicating the timeslot has one or more activities */
	&__timeslot--has-activity {
	}
}

/** Column layout styles */
@include columns {
	.blokks-location {
		width: $location-width;

		&__header {
			@include desktop {
				border-bottom: 1px solid $default-stroke-color;
			}
		}

		&__timeslots {
			padding: 0 5px;

			@include desktop {
				margin-top: -1px;
				background: bg-rows(
					$stroke-color: $light-stroke-color,
					$row-height: $location-timeslot-height
				);
			}
		}

		&__timeslot {
			@include desktop {
				height: $location-timeslot-height;
			}
		}
	}
}

/** Row layout styles */
@include rows {
	.blokks-location {
		min-height: $location-height;

		&__header {
			@include desktop {
				border-right: 1px solid $default-stroke-color;
			}
		}

		&__timeslots {
			padding: 5px 0;

			@include desktop {
				margin-left: -1px;
				background: bg-columns(
					$stroke-color: $light-stroke-color,
					$column-width: $location-timeslot-width
				);
			}
		}

		&__timeslot {
			@include desktop {
				width: $location-timeslot-width;
			}
		}
	}
}
