/**
 * @classname 
 * blokks-timetable
 *
 * @description
 * A single day of your event is represented by a timetable, which consist of one
 * or more dashboards, locations, activities and a time indicator.
 * 
 */

 .blokks-timetable {

	/** Modifier indicating that the timetable is taking place today */
	&--is-today {
	}

	/** Modifier indicating that the timetable is taking place at this moment */
	&--live {
	}

	/** Modifier indicating that the timetable has ended */
	&--ended {
	}
}

/**
 * Layout specific styles
 */
@if ($layout == 'columns') {
	.blokks-timetable {
		@include media('>breakpoint') {
			background: bg-rows($stroke-color: $light-stroke-color, $row-height: $location-timeslot-height);
			background-position: 0 $location-header-height;
		}
	}
}

@else if ($layout == 'rows') {
	.blokks-timetable {
		@include media('>breakpoint') {
			background: bg-columns($stroke-color: $light-stroke-color, $column-width: $location-timeslot-width);
			background-position: $location-header-width 0;
		}
    }
}

@import 'timetable/activity';
@import 'timetable/location';
@import 'timetable/time-legend';
@import 'timetable/time-indicator';
